<!doctype html>
html lang="en"
    head
      link rel="shortcut icon" href="${data.cdn}icon.png" sizes="64x64" type="image/png"
    body
      //include('./pub')
      //include('./resume')
      include('./skills')
