@import "../../lib/sass/_reset";

@import "../../_lib";

body {
    @include background(primary);
    background-attachment: fixed;
    background-color: getColor(primary, background-color);
    color: getColor(primary, color);
    @include font(Fira Sans);
    &:before, &:after {
        content: '';
        position: absolute;
        height: rem(1);
        right: 0;
        left: 0;
        margin: auto;
        opacity: .5;
        z-index: 10;
        transition: $animation;
    }
    &:before {
        border-bottom: 1px solid getColor(primary, border-color);
        top: $home-gutter;
        box-shadow: 0 0 rem(5) 0 transparentize(getColor(primary, background-color), .7);
    }
    &:after {
        border-top: 1px solid getColor(primary, border-color);
        margin-bottom: $home-gutter;
        bottom: 0;
        box-shadow: inset 0 0 rem(10) transparentize(getColor(primary, background-color), .6);
    }
}

a, a:link, a:visited {
    text-decoration: none;
    border-bottom: 1px solid getColor(primary, border-color);
    color: inherit;
    opacity: .8;
    transition: all ease-in-out 300ms;
}
a:hover, a:active, a:focus {
    outline: 0;
    opacity: 1;
    border-color: inherit;
}

.particles-js-canvas-el {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(1px);
    z-index: -2;
    &.particles-fog-el {
        opacity: .5;
        filter: blur(3px);
    }
}

*[aria-hidden="true"] {
    display: none;
}

section {
    overflow: hidden;
    padding-top: calc(16vh + #{rem(2)});
    &:before, &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        background-clip:padding-box;
        background-origin: border-box;
        filter: blur(rem(6));
        @include background(primary);
        opacity: .95;
        z-index: -2;
    }
    &:after {
        background-color: getColor(secondary, background-transparency);
        @include border(getColor(secondary, border-color), solid, 1px, left, right);
        z-index: -1;
    }
}
