include('../../layouts/base') app=data.app cdn=data.cdn selected=data.selected theme=data.theme
    @content
        .skill-container
            h2 aria-hidden="true" -- Skills
            h3 -- To limit languages is to limit your world.
            <!-- .skill for(skill in data.skills) -->
