// Skills page styles

@import "../../_lib";

section[data-page="skills"] {
    &:after {
        width: rem($home-width);
        margin: auto;
    }
    &:before {
        border-left: calc(50vw - #{rem(1)} - #{rem(.5 * $home-width)}) solid transparent;
        border-right: calc(50vw - #{rem(1)} - #{rem(.5 * $home-width)}) solid transparent;
    }
}

.skill {
    &-container {
        position: fixed;
        z-index: 10;
        margin: auto;
        padding: rem(16) calc(50vw + #{rem(15)} - #{rem(.5 * $home-width)});
        box-sizing: border-box;
        left: 0;
        right: 0;
        overflow: auto;
        height: 100vh - $home-gutter;
    }

    &-heading {
        @include font(Redressed);
    }
}
