// Skills page styles

@import "../../_lib";

section[data-page="skills"] {
    padding-top: calc(8vh + #{rem(2)});
    &:after {
        width: rem($home-width);
        margin: auto;
    }
    &:before {
        border-left: calc(50vw - #{rem(1)} - #{rem(.5 * $home-width)}) solid transparent;
        border-right: calc(50vw - #{rem(1)} - #{rem(.5 * $home-width)}) solid transparent;
    }
}

.skill {
    &-container {
        position: fixed;
        z-index: 10;
        margin: auto;
        padding: rem(16) calc(50vw + #{rem(15)} - #{rem(.5 * $home-width)});
        box-sizing: border-box;
        left: 0;
        right: 0;
        overflow: auto;
        height: 100vh - $home-gutter;
    }

    &-bar {
        fill: getColor(tertiary, background-color);
        stroke: getColor(primary, border-color);
        filter: drop-shadow(5px 5px 5px getColor(tertiary, background-transparency));
        transition: all 300ms ease-out;
        &:hover {
            fill: opacify(getColor(tertiary, background-color), .2);
        }
        &-dark {
            opacity: .5;
        }
        &-light {
            cursor: pointer;
        }
    }

    &-label {
        fill: getColor(tertiary, background-transparency);
        stroke: getColor(primary, border-color);
        text-transform: lowercase;
        @include font(Redressed);
        font-size: rem(24);
        transform: translateX(100%);
        &-dark {
            transition: all 300ms ease-out;
            opacity: 0;
        }
    }

    &-heading {
        @include font(Redressed);
        font-size: rem(28);
        text-align: center;
        padding-bottom: rem(16);
    }
}
